.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.bg_img {
  background-image: url( ../images/bg01.jpg);
  height: 500px;
}
.bg_img_resto {
  background-image: url( ../images/resto01.jpeg);
  background-size:100% 100%;
}
.bg_img_resto_bandeau {
  background-image: url( ../images/resto_bandeau.jpg);
  background-size:100% 100%;
}
.bg_img_banquets_bandeau {
  background-image: url( ../images/banquets.jpg);
  background-size:100% 100%;
}
.bg_img_tennis_bandeau {
  background-image: url( ../images/tennis_bandeau.jpg);
  background-size:100% 100%;
}
.bg_img_club {
  background-image: url( ../images/terrains.jpg);
  background-size:100% 100%;
}
.bg_img_reservation {
  background-image: url( ../images/reservation.jpg);
  background-size:100% 100%;
}
.bg_img_contact {
  background-image: url( ../images/contact_banner.jpg);
  background-size:100% 300px;
}
.bg_img_ecole {
  background-image: url( ../images/ecole_banner.jpg);
  background-size:100% 100%;
}
.bg_img_inscriptions {
  background-image: url( ../images/inscriptions.jpg);
  background-size:100% 400px;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.white_text {
  color:  white;
  text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.white_trans_bg {
  background: rgba(204, 204, 204, 0.8);
}
.white_bg {
  background: rgba(255, 255, 255, 1);
}
.green_bg {
  background: #0d6a36;
}
.liens_menu {
  color: #0d6a36 !important;
  text-decoration: none;
  font-weight: bold;
}
.liens_menu:hover {
  color: #1ddd71 !important;
  text-decoration: none;
  font-weight: bold;
}
.liens_shortcut {
  color: #6d6f71 !important;
  text-decoration: none;
  font-weight: bold;
}
.liens_shortcut:hover {
  color: #0d6a36 !important;
  text-decoration: none;
  font-weight: bold;
}

.bg-grey {
    --bs-bg-opacity: 1;
    background-color: #bcbfc1 !important;
}

/* La carte

*/

.menu-block { margin-bottom: 30px; }
.menu-title { border-bottom: 3px solid #e0e6e3; margin-bottom: 36px; padding-bottom: 10px; }
.menu-content { border-bottom: 1px solid #e0e6e3; margin-bottom: 30px; }
.dish-img { }
.dish-content { margin-top: 12px; margin-bottom: 40px; }
.dish-meta { font-size: 12px; text-transform: uppercase; display: block; width: 210px; line-height: 1.7; }
.dish-title { margin-bottom: 6px; font-size: 15px; font-family: 'AmericanTypewriter', Fallback, sans-serif; font-weight: 500; position: relative; }
.dish-price { font-size: 11px; color: #000000; font-weight: 500;}
.well-block .dish-meta { width: 100%; }
.well-block .dish-price { font-size: 26px; color: #e03c23; font-weight: 500; font-family: 'Zilla Slab', serif; position: inherit; }

@font-face {
 font-family: "AmericanTypewriter";
 src: url("../fonts/AmericanTypewriter.woff") format("woff"),
      url("../fonts/AmericanTypewriter.woff2") format("woff2");
}

@font-face {
 font-family: "Alba";
 src: url("../fonts/Alba.woff") format("woff"),
      url("../fonts/Alba.woff2") format("woff2");
}

@font-face {
 font-family: "bauhaus";
 src: url("../fonts/bauhaus.woff") format("woff"),
      url("../fonts/bauhaus.woff2") format("woff2");
}

@font-face {
 font-family: "budmojiggler";
 src: url("../fonts/budmojiggler.woff") format("woff"),
      url("../fonts/budmojiggler.woff2") format("woff2");
}

@font-face {
 font-family: "copaseti";
 src: url("../fonts/copaseti.woff") format("woff"),
      url("../fonts/copaseti.woff2") format("woff2");
}

@font-face {
 font-family: "eudora";
 src: url("../fonts/eudora.woff") format("woff"),
      url("../fonts/eudora.woff2") format("woff2");
}

@font-face {
 font-family: "teams401";
 src: url("../fonts/teams401.woff") format("woff"),
      url("../fonts/teams401.woff2") format("woff2");
}

@font-face {
 font-family: "bankgothic";
 src: url("../fonts/bankgothic.woff") format("woff"),
      url("../fonts/bankgothic.woff2") format("woff2");
}

.titre_entrees {
  font-family: "Alba", Fallback, sans-serif;
}

.titre_salades {
  font-family: "teams401", Fallback, sans-serif;
}

.titre_poissons {
  font-family: "eudora", Fallback, sans-serif;
}

.titre_pates {
  font-family: "budmojiggler", Fallback, sans-serif;
}

.titre_viandes {
  font-family: "copaseti", Fallback, sans-serif;
}

.titre_menuenfant {
  font-family: "bauhaus", Fallback, sans-serif;
}
.titre_ecole {
  font-family: "bankgothic", Fallback, sans-serif;
}
.titre_ecole_vert {
  font-family: "bankgothic", Fallback, sans-serif;
  color: #0d6a36;
}

.list-group-item-darkgreen {
    color: #fff;
    background-color: #0d6a36;
}

.stepwizard-step p {
    margin-top: 10px;    
}

.process-row {
    display: table-row;
}

.process {
    display: table;     
    width: 100%;
    position: relative;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 50px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.process-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.process-step p {
    margin-top:10px;
    
}

.btn-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}


/* Times */
.agenda .agenda-time { width: 140px; } 


/* Events */
.agenda .agenda-events {  } 
.agenda .agenda-events .agenda-event {  } 

@media (max-width: 767px) {
    
}

.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}



.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}



/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
